<?xml version="1.0"?>
<ruleset name="WordPress Theme Coding Standards">
	<!-- See https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
	<!-- See https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards -->
	<!-- See https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki -->
	<!-- See https://github.com/wimg/PHPCompatibility -->

	<!-- Set a description for this ruleset. -->
	<description>A custom set of code standard rules to check for WordPress themes.</description>

	<arg value="psvn"/>

	<exclude-pattern type="relative">^/tests/*</exclude-pattern>
	<exclude-pattern type="relative">^/vendor/*</exclude-pattern>

	<!-- Only check the PHP files. JS files are checked separately with JSCS and JSHint. -->
	<arg name="extensions" value="php,js"/>
	
	<!-- Check all files in this directory and the directories below it. -->
	<file>.</file>

	<!-- Include the WordPress ruleset, with exclusions. -->
	<rule ref="WordPress">
		<exclude name="PEAR.Functions.FunctionCallSignature.Indent" />
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="Squiz.Commenting.ClassComment.Missing" />
		<exclude name="Squiz.Commenting.FileComment.Missing" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
		<exclude name="WordPress.NamingConventions.ValidVariableName.MemberNotSnakeCase" />
		<exclude name="WordPress.NamingConventions.ValidVariableName.NotSnakeCaseMemberVar" />
		<exclude name="WordPress.NamingConventions.ValidVariableName.NotSnakeCase" />
		<exclude name="WordPress.NamingConventions.ValidFunctionName.MethodNameInvalid" />
		<exclude name="Squiz.Commenting.FunctionComment.Missing" />	
		<exclude name="Squiz.Commenting.VariableComment.Missing" />			
		<exclude name="WordPress.VIP" />
	</rule>

	<!-- Verify that the text_domain is set to the desired text-domain.
		 Multiple valid text domains can be provided as a comma-delimited list. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="svbk-helpers" />
		</properties>
	</rule>

	<!-- Verify that no WP functions are used which are deprecated or have been removed.
		 The minimum version set here should be in line with the minimum WP version
		 as set in the "Requires at least" tag in the readme.txt file. -->
	<rule ref="WordPress.WP.DeprecatedFunctions">
		<properties>
			<property name="minimum_supported_version" value="4.0" />
		</properties>
	</rule>

	<!-- Include sniffs for PHP cross-version compatibility. -->
	<config name="testVersion" value="5.6-99.0"/>
	<rule ref="PHPCompatibility"/>
</ruleset>
